{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="authorization">
    <h2>{{ _('Login') }}</h2>
    <form method="POST">
        <label for="username">{{ _('Username') }}:</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password">{{ _('Password') }}:</label>
        <input type="password" id="password" name="password" required>
        </br>
        <button type="submit">{{ _('Login') }}</button>
    </form>
</div>
{% endblock %}